 /*css for login page*/
#Button{
        -fx-border: none;
        -fx-text-align: center;
        -fx-font-size: 20;
        -fx-text-decoration: none;
        -fx-display: inline-block;
        -fx-font-weight: bold;
}

#Button:hover,  #Button:focused{
        -fx-border: none;
        -fx-text-align: center;
        -fx-font-size: 20;
        -fx-text-decoration: none;
        -fx-display: inline-block;
        -fx-font-weight: bold;
}

 /*css for login page ends here*/
 
 